@import "tailwindcss/tailwind.css";

.background-image {
    background: linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30)), url('../image/background.jpg');
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: grey;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .transparent {
    background-color: rgba(255, 255, 255, 0.8); /* Adjust the last value for transparency */
    padding: 20px; /* Add padding as needed */
    border-radius: 10px; /* Optional: Add border-radius for rounded corners */
  }